.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 20px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #537FA4;
  box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.logo {
  width: 70px;
}

.logout-btn {
  width: 100px;
  padding: 10px 15px;
  margin: auto 0;
  font-size: 1em;
  font-weight: bold;
  font-size: 16px;
  color: #FFFFFF;
  background-color: #FFA900;
  border: none;
  border-radius: 10px;
  transition: 0.2s;
  box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.logout-btn:hover {
  color: #FFFFFF;
  background-color: #ff0000;
}